*{
    margin: 0;
    padding: 0;
    
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
#imor{
    width:100% ;
    height: 400px;
    box-shadow: 1px 1px 20px black;
}
#as button{
    display:block;
    margin-top: 7px;
    margin-left: -69px;
    margin-right: 10px;
    padding:10px ;
    width: 100px;
    border-radius: 0px 30px 30px 0px;
    text-align: end;
    transition: 1s;
    font-weight: 300;
   font-size: medium;
   box-shadow: 1px 1px 3px gray;
   cursor:pointer;
}
#as img{ 
    width: 15px;
}
#as button:hover{
    width: 155px;
    margin-top: 20px;
    margin-bottom: 20px;
 scale: 1.1;
 box-shadow: 1px 1px 10px;
}
#di1{
    position: absolute;
    top: 420px ;
    right:10px ;
    font-size: larger;
    
 }
 h2{
    color: #007ba0;
 }
 p{ 
    width: 800px;
    color: rgb(73, 73, 73);
    font-weight: bold;
 }
 #di2{
    position: relative;
    top: 300px;
   box-shadow: 1px 1px 10px black;
    background-color: rgba(158, 224, 255, 0.788);
    width: 100%;
 }
 #di2 img{
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 5px;
 }
 #di2 .F:hover{
    background-color: blue;
    box-shadow: 3px 3px 20px  rgba(0, 0, 0, 0.6);

 }
 a img {
    text-decoration: none;
    border: none;
    box-shadow: 1px 1px 2px black;
  }

  a {
    text-decoration: none; 
  }

#di2 img:hover{
    margin-right: 5px;
    margin-top: 2px;
    margin-left: 5px;
scale: 1.2;  
transition: 1s;
}

#d1, #d2 ,#d3{
    width: 150px;
    height: 150px;
  background-color: silver;
border-radius: 20px 20px 0px 0px;
box-shadow: 1px 1px 20px black ;
float: right;
margin-right: 40px;
margin-top: 40px;
cursor: pointer;
}
#d1:hover{
    margin-top: 45px;
    margin-right: 45px;
    margin-left: 20px;
    transition: 1s;
    scale: 1.1;
}
#d2:hover{
    margin-top: 45px;
    margin-right: 45px;
    margin-left: 20px;
    transition: 1s;
    scale: 1.1;
}
#d3:hover{
    margin-top: 42px;
    margin-right: 45px;
    margin-left: 20px;
    transition: 1s;
    scale: 1.1;
}
#d1 img{
    width: 150px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 1px;
    
}
#d2 img{
    width: 150px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
}
#d3 img{
    width: 150px;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
}
